---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
	<div class="w-full h-full flex flex-col justify-center items-end">
		<main>
			<h1>CONTACT</h1>
		</main>
	</div>
</Layout>
