---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Escuela de Gimnasia y Cultura China" mountains={true}>
	<div
		class="flex flex-col md:flex-row justify-center items-center animate-fade-in-up animate-delay-500 animate-duration-slower"
	>
		<Image
			src="/caracteres-chinos.png"
			width={200}
			height={600}
			alt="Caracteres-chinos"
		/>
		<span class="font-bold italic text-5xl">"Aqui va <br /> una frase"</span>
	</div>
</Layout>
