---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Escuela de Gimnasia y Cultura China">
	<div class="w-full h-full flex flex-col justify-center items-center">
		<main>
			<h1>HOME</h1>
		</main>
	</div>
</Layout>
