---
import Copyright from "./Icons/Copyright.astro";
import Facebook from "./Icons/Facebook.astro";
import Instagram from "./Icons/Instagram.astro";
---

<div
	class="overflow-hidden relative mt-autoflex flex flex-col gap-4 w-full h-[150px] justify-center items-center text-black"
>
	<div
		class="absolute -top-[15%] bg-dragon bg-cover opacity-25 w-full h-[170px] z-0"
	>
	</div>
	<h2 class="z-10 text-center">Escuela de Gimnasia y Cultura China</h2>
	<div class="z-10 flex flex-col items-center gap-4">
		<div class="flex flex-row gap-4">
			<Facebook fillColor="#000000" width={20} height={20} />
			<Instagram fillColor="#000000" width={20} height={20} />
		</div>
		<Copyright fillColor="#000000" width={10} height={10} />
	</div>
</div>
