---
import Copyright from "./Icons/Copyright.astro";
import Facebook from "./Icons/Facebook.astro";
import Instagram from "./Icons/Instagram.astro";
---

<div
	class="absolute bottom-0 p-2 flex flex-col gap-4 w-full h-[150px] justify-center items-center text-footer"
>
	<h2>Escuela de Gimnasia y Cultura China</h2>
	<div class="flex flex-col items-center gap-4">
		<div class="flex flex-row gap-4">
			<Facebook fillColor="#B4B4B8" width={20} height={20} />
			<Instagram fillColor="#B4B4B8" width={20} height={20} />
		</div>
		<Copyright fillColor="#B4B4B8" width={10} height={10} />
	</div>
</div>
