---
import Copyright from "./Icons/Copyright.astro";
import Facebook from "./Icons/Facebook.astro";
---

<div
	class="absolute hidden bottom-0 p-2 md:flex flex-col gap-4 w-full h-[150px] justify-center items-center"
>
	<h2>Footer Here</h2>
	<div class="flex flex-col items-center gap-4">
		<div class="flex flex-row gap-4">
			<Facebook fillColor="black" width={20} height={20} />
			<Facebook fillColor="black" width={20} height={20} />
			<Facebook fillColor="black" width={20} height={20} />
		</div>

		<Copyright fillColor="black" width={10} height={10} />
	</div>
</div>
