---
export const prerender = true;
---

<nav
	class="absolute z-40 w-full xl:w-10/12 xl:left-[100x] border-gray-200 dark:bg-gray-900"
>
	<div
		class="flex flex-wrap gap-4 lg:flex-nowrap bg-transparent items-center justify-evenly p-4"
	>
		<a
			href="/"
			class="flex flex-col md:flex-row items-center justify-center space-x-3 rtl:space-x-reverse"
		>
			<img
				src="/assets/logo-escuela.png"
				class="h-24"
				alt="Logo-Escuela-Gimnasia-y-Cultura-China"
			/>
			<span
				class="text-center text-4xl lg:text-2xl lg:text-start font-bold dark:text-white"
				>Escuela de Gimnasia y Cultura China</span
			>
		</a>
		<button
			data-collapse-toggle="navbar-default"
			type="button"
			class="inline-flex bg-transparent items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
			aria-controls="navbar-default"
			aria-expanded="false"
		>
			<span class="sr-only">Open main menu</span>
			<svg
				class="w-5 h-5"
				aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 17 14"
			>
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M1 1h15M1 7h15M1 13h15"></path>
			</svg>
		</button>
		<div class="hidden w-full md:block md:w-auto" id="navbar-default">
			<ul
				class="font-medium flex flex-col gap-4 p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-white md:flex-row md:space-x-4 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-transparent"
			>
				<li>
					<a
						href="/Nosotros"
						class="link-underline block text-black uppercase rounded-full relative no-underline md:bg-inherit md:py-0"
						aria-current="page">Nosotros</a
					>
				</li>
				<li>
					<a
						href="/Eventos"
						class="link-underline block text-black uppercase rounded-full relative no-underline md:bg-inherit md:py-0"
						>Eventos</a
					>
				</li>
				<li>
					<a
						href="/Formacion"
						class="link-underline block text-black uppercase rounded-full relative no-underline md:bg-inherit md:py-0"
						>Formación</a
					>
				</li>
				<li>
					<a
						href="/Contacto"
						class="link-underline block text-black uppercase rounded-full relative no-underline md:bg-inherit md:py-0"
						>Contacto</a
					>
				</li>
				<li>
					<a
						href="/Material"
						class="link-underline block text-black uppercase rounded-full relative no-underline md:bg-inherit md:py-0"
						>Material</a
					>
				</li>
			</ul>
		</div>
	</div>
</nav>
