---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
// import ViewTransitions from "astro/components/ViewTransitions.astro";

interface Props {
	title: string;
	mountains: boolean;
}

const { title, mountains } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Escuela de Gimnasia y Cultura China - Villa Constitución, Santa Fe, Argentina."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/favicon32x32.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="/src/styles/main.css" />
		<!-- <ViewTransitions /> -->
	</head>
	<body class="bg-background">
		<div class="wrapper w-full min-h-dvh flex flex-col justify-between">
			<header>
				<Navbar />
			</header>
			<!-- Banner montañas, se renderiza solo en homepage -->
			{
				mountains && (
					<div class="-z-10 opacity-70 absolute bg-mountainsBg bg-cover bg-no-repeat bg-center w-full h-[150vh] md:h-[700px] flex flex-col flex-grow overflow-hidden" />
				)
			}

			<main class="flex-1 py-20">
				<slot />
			</main>

			<div class="">
				<Footer />
			</div>
		</div>

		<script
			is:inline
			src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
		></script>
		<style is:global>
			body {
				font-family: "Exo-Regular", sans-serif;
			}
			.brand-name {
				font-family: "Philosopher-Bold";
			}
		</style>
	</body>
</html>
