---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="/src/styles/main.css" />
		<!-- <ViewTransitions /> -->
	</head>
	<body>
		<Navbar />
		<!-- IMG BACKGROUND START  -->
		<div
			class="-z-10 opacity-70 absolute bg-mountainsBg bg-cover bg-no-repeat bg-top w-full min-h-[220vh] md:min-h-[100vh] flex flex-col flex-grow overflow-hidden"
		>
		</div>
		<!-- IMG BACKGROUND END  -->
		<div
			class="mainContainer w-full min-h-[220vh] md:min-h-[100vh] flex flex-col items-center justify-center"
		>
			<main
				class="z-10 opacity-100 w-11/12 lg:h-8/12 flex flex-col justify-center items-center mx-auto"
			>
				<slot />
			</main>
		</div>

		<Footer />

		<script
			is:inline
			src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
		></script>
		<style is:global>
			body {
				font-family: "Philosopher-regular", sans-serif;
			}
			h1 {
				font-family: "Philosopher-Bold";
			}
		</style>
	</body>
</html>
